<flash-messages></flash-messages>
<div class="navigation text-center">
	<div class="container">
		<div class="row">
			<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
				<a [routerLink]="['/pages/groups']"><i class="fa fa-users" aria-hidden="true"></i></a>
			</div>
			<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-9">
				<a href="#">{{ title }}</a>
			</div>
			<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
				<a (click)="onFinish()"><i class="fa fa-save" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>

<div class="contacts mt-4">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<ul class="list-group">
					<li class="list-group-item" *ngFor="let item of data">
						<a (click)="onSelect(item)"><img src="{{item.photoUrl}}" class="profile-img" /></a> 
						<a (click)="onSelect(item)">{{item.first_name + ' ' + item.last_name}}</a> 
						<input type="checkbox" class="pull-right" [(ngModel)] = "item.selected" />
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

