<flash-messages></flash-messages>
<div class="navigation text-center">
	<div class="container">
		<div class="row">
			<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
				<a [routerLink]="['/pages/contacts']"><i class="fa fa-bars" aria-hidden="true"></i></a>
			</div>
			<div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-9">
				<a href="#">{{ title }}</a>
			</div>

		</div>
	</div>
</div>

<div class="profile mt-5 text-center">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<img class="profile-img img-fluid" src="{{ data.photoUrl }}" />
				<div class="profile-name mt-3">{{ data.first_name + ' ' + data.last_name }}</div>	
			</div>
		</div>
	</div>
</div>

<div class="contact-info mt-4">
	<div class="container">
		<div class="row">
			<div class="col-xl-6 offset-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
				<form>
					<div class="mobile">
						<label>Mobile Number</label>
						<div class="field"><a href="tel:+1{{ data.mobile_phone }}">{{ data.mobile_phone }}</a></div>
					</div>
					<div class="office mt-3">
						<label>Office</label>
						<div class="field"><a href="tel:+1{{ data.office_phone }}">{{ data.mobile_phone }}</a></div>
					</div>

					<div class="email mt-3">
						<label>Email Address</label>
						<div class="field"><a href="mailto:{{ data.email }}">{{ data.email }}</a></div>
					</div>
				</form>				
			</div>
		</div>
	</div>
</div>

<div class="logo text-center mt-5">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<img src="assets/img/ev-logo.png" alt="Envirovac" class="img-fluid" />
			</div>
		</div>
	</div>
</div>
