<a name="about"></a>
<div class="intro-header">
	<div class="container">

		<div class="row">
				<div class="search_container">
					<p class="text-uppercase search_container_title">
						<strong>Job Posting DEMO</strong>
					</p>

					<hr class="intro-divider">

					<div class="row">
						<div class="col-md-5">
							<p class="search_container_text">City</p>							
							<input type="text" class="form-control search_container_field" id="validationCustom03" placeholder="City" required placeholder="Please provide a valid city.">
						</div>
						<div class="col-md-5">
							<p class="search_container_text">City</p>							
							<input type="text" class="form-control search_container_field" id="validationCustom03" placeholder="City" required placeholder="Please provide a valid city.">
						</div>					
						<div class="col-md-2">
							<p class="search_container_text"><br/> </p>
							<button type="submit" id="quick-search" class="search-btn-custom">
								<span class="glyphicon glyphicon-search custom-glyph-color"></span>
							</button>
						</div>
					</div>
		

				</div>
			
		</div>
	</div>


</div>


<div class="content-section-a">

		<div class="work-container">
				<div class="row">
						<div class="col-lg-5 col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading">Easily Job Search</h2>
								<p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
						</div>
						<div class="col-lg-5 col-lg-offset-2 col-sm-6">
								<img class="logo-custom" src="../../../assets/img/logo.png" alt="">
						</div>
				</div>

		</div>


</div>


<div class="content-section-b">

		<div class="work-container">

				<div class="row">
						<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading">Perfect Employee Search</h2>
								<p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
						</div>
						<div class="col-lg-5 col-sm-pull-6  col-sm-6">
								<img class="img-responsive" src="../../../assets/img/dog.png" alt="">
						</div>
				</div>

		</div>
		<!-- /.container -->

</div>


<div class="content-section-a">

		<div class="work-container">

				<div class="row">
						<div class="col-lg-5 col-sm-6">
								<hr class="section-heading-spacer">
								<div class="clearfix"></div>
								<h2 class="section-heading">Business Success</h2>
								<p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
						</div>
						<div class="col-lg-5 col-lg-offset-2 col-sm-6">
								<img class="img-responsive" src="../../../assets/img/phones.png" alt="">
						</div>
				</div>

		</div>
		<!-- /.container -->

</div>


<div class="work-container " style="text-align: center">
		<div class="row">
			<p class="candidate_title">Candidates</p>
			<p class="candidate_text">Looing for a change? You are one click away from reaching the best global startup companies.</p>
		</div>
		<div class="row m-t-50">
			<div class="col-md-4">
				<img class="candidate-image" src="../../../assets/img/11.png">
			</div>
			<div class="col-md-4">
				<img class="candidate-image" src="../../../assets/img/22.png">
			</div>
			<div class="col-md-4">
				<img class="candidate-image" src="../../../assets/img/33.png">
			</div>
		</div>
		<div class="row  m-t-100">
			<button class="candidate-btn-custom">View Jobs</button>
		</div>
</div>


<div class="work-container  " style="text-align: center">
		<div class="row m-t-100">
			<p class="candidate_title">Employers</p>
			<p class="candidate_text">Hiring? Advertise with us. We connect companies with talented individuals for you.</p>
		</div>
		<div class="row m-t-50">
			<div class="col-md-4">
				<img class="candidate-image" src="../../../assets/img/41.png">
			</div>
			<div class="col-md-4">
				<img class="candidate-image" src="../../../assets/img/42.png">
			</div>
			<div class="col-md-4">
				<img class="candidate-image" src="../../../assets/img/43.png">
			</div>
		</div>
		<div class="row  m-t-100">
			<button class="candidate-btn-custom">Post A Job</button>
		</div>
</div>