.panel-heading {
	height: 65px;
    padding: 15px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}
.panel-body {
	height: 500px;

}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
hr{
   border-top: 1px solid #ccc;
   margin-left: -15px;
   margin-right: -15px;
   margin-bottom: 0px;
}



.vl {
    border-left: 1px solid #ccc;
    margin-left: -15px;
    height: 700px;
    float: left;
}

.job_post_container{
	margin: 15px;
}

.company_logo_class{
	max-height: 30px;
	max-height: 30px;

}



@media screen and (max-width: 768px) {
    .vl{
    	margin: 0px;
    	padding: 0px;
    	border-left: 0px;
    }

    .custom-align{
    	margin-right: -60px;
    }


}