<nav class="navbar navbar-default custom-navbar" role="navigation">
  <div class="work-container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand m-l-0 p-l-0" href="#">
            <img src="../../../assets/img/logo.png" width="50" height="50" alt="">
        </a>

      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <!-- <ul class="nav navbar-nav">
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right m-t-20">
          <li><a (click)="AboutUs()"><span class="navbar-font-custom">About Us</span></a></li>
          <li><a (click)="ContactUs()"><span class="navbar-font-custom">Contact Us</span></a></li>
          <li *ngIf="!logged"><a (click)="SignUp()"> <span class="navbar-font-custom">Sign Up</span></a></li>
          <li *ngIf="!logged"><a (click)="LogIn()"><span class="navbar-font-custom">Log In</span></a></li>
          <li *ngIf="logged"><a (click)="LogOut()"> <span class="navbar-font-custom">Log Out</span></a></li>
          <li *ngIf="user_type == 'server'"><a (click)="PostJob()"> <span class="navbar-font-custom">Post Job</span></a></li>
          <li><a class="navbar-font-custom"><span class="glyphicon glyphicon-envelope"></span></a></li>
        </ul>
      </div>

  </div>

</nav>